:root{
    --main-text: #3b3b3b;
    --logo-color: #f66f01;
    --login-btn: #fc801b;
    --login-btn-hover: #ff8d2f;
    --register-btn: #349e35;
    --register-btn-hover: #3eb340;

    --text-logo-h1: #f66f01;
    --text-logo-span: #525252;

}
body{
    color: var(--main-text);
}